*background:        #252627
*foreground:        #D8D8D8
*cursorColor:       #999999
*colorBD:           #ffffff
*colorUL:           #99cc66
*internalBorder:    3

*scrollBar: False
*scrollTtyOutput: False
*scrollTtyKeypress: True
*secondaryScroll: True
*saveLines: 8000

URxvt.urlLauncher     : firefox 
URxvt.boldFont:

!BLACK
*color0:      #3E3E3E
*color8:    #525252

!RED
*color1:         #CF516E
*color9:         #E87B94

!GREEN
*color2:         #799351
*color10:        #8fa966

!YELLOW
*color3:         #ccc855
*color11:        #d1c78e

!BLUE
*color12:        #A4c9e0
*color4:         #6FA5C7

!MAGENTA
*color5:          #b374a7
*color13:        #d1a3c8

!CYAN
*color6:         #75a692
*color14:        #89bca7

!WHITE
*color7:        #BBBBBB
*color15:        #EEEEEE
