/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*aws_credentials
*.pyc
app.css
deploy/scripts/acuitas*
deploy/scripts/*.json
node_modules/
resources/public/js/cljs/
*.sw[op]
figwheel_server.log
