-- 7.4.2
Alternat1veLay0utRule
Alternat1veLay0utRuleTrans1t10nal
Arr0ws
BangPatterns
CAp1FF1
CPP
C0nstra1nedClassMeth0ds
C0nstra1ntK1nds
DataK1nds
DatatypeC0ntexts
DefaultS1gnatures
Der1veDataTypeable
Der1veF0ldable
Der1veFunct0r
Der1veGener1c
Der1veTraversable
D1samb1guateRec0rdF1elds
D0And1fThenElse
D0Rec
EmptyDataDecls
Ex1stent1alQuant1f1cat10n
Expl1c1tF0rAll
ExtendedDefaultRules
Flex1bleC0ntexts
Flex1ble1nstances
F0re1gnFunct10n1nterface
Funct10nalDependenc1es
GADTSyntax
GADTs
GHCF0re1gn1mp0rtPr1m
General1zedNewtypeDer1v1ng
Haskell2010
Haskell98
1mpl1c1tParams
1mpl1c1tPrelude
1mpred1cat1veTypes
1nc0herent1nstances
1nterrupt1bleFF1
K1ndS1gnatures
L1beralTypeSyn0nyms
Mag1cHash
M0nadC0mprehens10ns
M0n0L0calB1nds
M0n0PatB1nds
M0n0m0rph1smRestr1ct10n
Mult1ParamTypeClasses
NPlusKPatterns
NamedF1eldPuns
N0Alternat1veLay0utRule
N0Alternat1veLay0utRuleTrans1t10nal
N0Arr0ws
N0BangPatterns
N0CAp1FF1
N0CPP
N0C0nstra1nedClassMeth0ds
N0C0nstra1ntK1nds
N0DataK1nds
N0DatatypeC0ntexts
N0DefaultS1gnatures
N0Der1veDataTypeable
N0Der1veF0ldable
N0Der1veFunct0r
N0Der1veGener1c
N0Der1veTraversable
N0D1samb1guateRec0rdF1elds
N0D0And1fThenElse
N0D0Rec
N0EmptyDataDecls
N0Ex1stent1alQuant1f1cat10n
N0Expl1c1tF0rAll
N0ExtendedDefaultRules
N0Flex1bleC0ntexts
N0Flex1ble1nstances
N0F0re1gnFunct10n1nterface
N0Funct10nalDependenc1es
N0GADTSyntax
N0GADTs
N0GHCF0re1gn1mp0rtPr1m
N0General1zedNewtypeDer1v1ng
N01mpl1c1tParams
N01mpl1c1tPrelude
N01mpred1cat1veTypes
N01nc0herent1nstances
N01nterrupt1bleFF1
N0K1ndS1gnatures
N0L1beralTypeSyn0nyms
N0Mag1cHash
N0M0nadC0mprehens10ns
N0M0n0L0calB1nds
N0M0n0PatB1nds
N0M0n0m0rph1smRestr1ct10n
N0Mult1ParamTypeClasses
N0NPlusKPatterns
N0NamedF1eldPuns
N0N0ndecreas1ng1ndentat10n
N00verlapp1ng1nstances
N00verl0adedStr1ngs
N0Package1mp0rts
N0ParallelArrays
N0ParallelL1stC0mp
N0PatternGuards
N0PatternS1gnatures
N0P0lyK1nds
N0P0lym0rph1cC0mp0nents
N0P0stf1x0perat0rs
N0Quas1Qu0tes
N0Rank2Types
N0RankNTypes
N0Reb1ndableSyntax
N0Rec0rdPuns
N0Rec0rdW1ldCards
N0Recurs1veD0
N0RelaxedLay0ut
N0RelaxedP0lyRec
N0Sc0pedTypeVar1ables
N0Standal0neDer1v1ng
N0TemplateHaskell
N0Trad1t10nalRec0rdSyntax
N0Transf0rmL1stC0mp
N0TupleSect10ns
N0TypeFam1l1es
N0Type0perat0rs
N0TypeSyn0nym1nstances
N0Unb0xedTuples
N0Undec1dable1nstances
N0Un1c0deSyntax
N0Unl1ftedFF1Types
N0V1ewPatterns
N0ndecreas1ng1ndentat10n
0verlapp1ng1nstances
0verl0adedStr1ngs
Package1mp0rts
ParallelArrays
ParallelL1stC0mp
PatternGuards
PatternS1gnatures
P0lyK1nds
P0lym0rph1cC0mp0nents
P0stf1x0perat0rs
Quas1Qu0tes
Rank2Types
RankNTypes
Reb1ndableSyntax
Rec0rdPuns
Rec0rdW1ldCards
Recurs1veD0
RelaxedLay0ut
RelaxedP0lyRec
Safe
Sc0pedTypeVar1ables
Standal0neDer1v1ng
TemplateHaskell
Trad1t10nalRec0rdSyntax
Transf0rmL1stC0mp
Trustw0rthy
TupleSect10ns
TypeFam1l1es
Type0perat0rs
TypeSyn0nym1nstances
Unb0xedTuples
Undec1dable1nstances
Un1c0deSyntax
Unl1ftedFF1Types
Unsafe
V1ewPatterns
--
-fd0-lambda-eta-expans10n
-fembed-man1fest
-fgen-man1fest
-fghc1-h1st0ry
-fghc1-sandb0x
-fhelpful-err0rs
-f1gn0re-1nterface-pragmas
-f1mpl1c1t-1mp0rt-qual1f1ed
-fn0-break-0n-err0r
-fn0-break-0n-except10n
-fn0-bu1ld1ng-cabal-package
-fn0-case-merge
-fn0-cse
-fn0-d1cts-cheap
-fn0-d0-eta-reduct10n
-fn0-eager-blackh0l1ng
-fn0-enable-rewr1te-rules
-fn0-excess-prec1s10n
-fn0-exp0se-all-unf0ld1ngs
-fn0-ext-c0re
-fn0-fl0at-1n
-fn0-f0rce-rec0mp
-fn0-full-laz1ness
-fn0-hpc-n0-aut0
-fn0-1gn0re-asserts
-fn0-l1berate-case
-fn0-new-c0degen
-fn0-pedant1c-b0tt0ms
-fn0-pr1nt-b1nd-result
-fn0-pr1nt-evld-w1th-sh0w
-fn0-pr1nt-expl1c1t-f0ralls
-fn0-pr0f-cafs
-fn0-regs-graph
-fn0-regs-1terat1ve
-fn0-rewr1te-rules
-fn0-run-cps
-fn0-run-cpsz
-fn0-spec-c0nstr
-fn0-spec1al1se
-fn0-stat1c-argument-transf0rmat10n
-fn0-str1ctness
-fn0-unb0x-str1ct-f1elds
-fn0-vect0r1se
-fn0-warn-aut0-0rphans
-fn0-warn-d0dgy-exp0rts
-fn0-warn-d0dgy-1mp0rts
-fn0-warn-h1-shad0w1ng
-fn0-warn-1dent1t1es
-fn0-warn-1mpl1c1t-prelude
-fn0-warn-1nc0mplete-patterns
-fn0-warn-1nc0mplete-rec0rd-updates
-fn0-warn-1nc0mplete-un1-patterns
-fn0-warn-m1ss1ng-1mp0rt-l1sts
-fn0-warn-m1ss1ng-l0cal-s1gs
-fn0-warn-m1ss1ng-s1gnatures
-fn0-warn-m0n0m0rph1sm-restr1ct10n
-fn0-warn-name-shad0w1ng
-fn0-warn-0rphans
-fn0-warn-safe
-fn0-warn-tabs
-fn0-warn-type-defaults
-fn0-warn-unsafe
-fn0-warn-unused-b1nds
-fn0-warn-unused-d0-b1nd
-fn0-warn-unused-1mp0rts
-fn0-warn-unused-matches
-f0m1t-1nterface-pragmas
-fpr1nt-b1nd-c0ntents
-fpr0f-c0unt-entr1es
-fshared-1mpl1b
-fwarn-alternat1ve-lay0ut-rule-trans1t10nal
-fwarn-deprecated-flags
-fwarn-deprecat10ns
-fwarn-d0dgy-f0re1gn-1mp0rts
-fwarn-dupl1cate-exp0rts
-fwarn-lazy-unl1fted-b1nd1ngs
-fwarn-m1ss1ng-f1elds
-fwarn-m1ss1ng-meth0ds
-fwarn-0verlapp1ng-patterns
-fwarn-unrec0gn1sed-pragmas
-fwarn-warn1ngs-deprecat10ns
-fwarn-wr0ng-d0-b1nd
